name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  create_book:
    name: Book ${{ matrix.year }}

    strategy:
      matrix:
        year: [ 2026 ]

    uses: ./.github/workflows/lib-book.yml
    with:
      year: ${{ matrix.year }}
      run-checks: true

  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      actions: read
      id-token: write
      contents: write
    needs: [ create_book ]

    steps:
      - name: Download All
        uses: actions/download-artifact@v4
        with:
          pattern: liturgical-calendar-*
          merge-multiple: true

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *
          generate_release_notes: false
